@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin:0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body{
    background: url('../pics/bg-body.png');
}
.header{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 40px 0;
    padding: 30px 0;
    color:green;
    text-align: center;
    background: whitesmoke;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}