@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin:0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

body{
    background: url('../pics/bg-body.png');
}
.header{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin: 40px 0;
    padding: 30px 0;
    color:green;
    text-align: center;
    background: whitesmoke;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.container{
    max-width: 1000px;
    width: 95%;
    margin:0 auto;
    margin-bottom: 50px;
    overflow: hidden;
}
.container::after, .boxes::after, .lepteto ul::after {
  content: "";
  clear: both;
  display: table;
}

.menu{
    width: 15%;
    float:left;
    background: url("../pics/bg-menu.jpg");
    padding-bottom: 500rem;
    margin-bottom: -500rem; 
}
ul{
    list-style: none;
}
.menu ul{
   
    margin:10px;
}
.menu ul li{
    border-bottom: 1px dashed whitesmoke;
}

.menu ul li a{
     color: whitesmoke;
     text-decoration: none;
     padding: 20px 10px;
     display: inline-block;
}
.menu ul li:hover{
    background-color: green;
}
.content{
    width: 70%;
    float:left;
    padding: 0 10px;
}
.sidebar{
    width: 15%;
    float: left;
}

.sidebar ul li{
    border-bottom: 1px solid #c3c2c2;
}

.sidebar ul li a {
    display: inline-block;
    padding: 20px 0;
    text-decoration: none;
    color: #505050;
}

.box{
    width: 50%;
    float: left;
    padding: 0 10px;
    padding-bottom: 20px;
    /* border: 1px solid #cfcfcf; */
}
.recept{
    background-color: whitesmoke;
    padding: 10px 20px 20px 20px;
}
.recept h2{
    padding-bottom: 10px;
}
.recept p{
    line-height: 1.2;
}
.lepteto ul li{
    padding: 0 5px;
    float: left;    
}
.lepteto ul li a{
    font-size: .8rem;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px 5px;
    background-color: #ddd;
    border: 1px solid #cfcfcf;
}
.lepteto ul{
    padding-left: 5px;
}
.lepteto ul li:first-child a{
    color: white;
    background: black;
}
@media (max-width:700px){

    .box{
        width: 100%;
    }

}