@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin:0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body{
    background: url('../pics/bg-body.png');
}
.header{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 40px 0;
    padding: 30px 0;
    color:green;
    text-align: center;
    background: whitesmoke;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.container{
    max-width: 1000px;
    margin:0 auto;
    overflow: hidden;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}

.menu{
    width: 15%;
    float:left;
    background: url("../pics/bg-menu.jpg");
    padding-bottom: 500rem;
    margin-bottom: -500rem; 
}
ul{
    list-style: none;
}
.menu ul{
   
    margin:10px;
}
.menu ul li{
    border-bottom: 1px dashed whitesmoke;
}

.menu ul li a{
     color: whitesmoke;
     text-decoration: none;
     padding: 20px 10px;
     display: inline-block;
}
.menu ul li:hover{
    background-color: green;
}
.content{
    width: 70%;
    float:left;
}
.sidebar{
    width: 15%;
    float: left;
}